{% extends 'accounts_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="box">
     <div class="registerbox">
        <img src="mesla-avatar.png" class="avatar">
        <div class="register">
        <h1>Register Here</h1>
            <form>
                <p>Name</p>
            <input type="text" name="" placeholder="name" required>
            <p>Password</p>
        <input type="password" name="" placeholder="password" required>
  <p>Email</p>
        <input type="email" name="" placeholder="email" required>
        <button type="submit" class="btn btn-success">Create</button>

            <!--<input type="submit" name="" value="create"><br>-->
        <p id="info">Already have an account?</p>
            <a href="{% url 'accounts:login' %}">Log In!</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}

